NEXT_PUBLIC_W3C_PID="" //generate a web3modal project ID at: https://cloud.walletconnect.com/
NEXT_PUBLIC_SIGNIN_MESSAGE="Sign-in with io.network!"
NEXTAUTH_SECRET="averylongsecretnotforpublicconsumption"